<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<button onclick="mostrarForm('selecao')">Seleção</button>
<button onclick="mostrarForm('jogadores')">Jogadores</button>

<p th:text="${mensagem}"></p>

<form method = "post" action="/jogadores" id="jogadores" style="display:none">

    <label for="operacao">Tipo de operação</label>
    <select name="operacao" id = "operacao">
        <option value = "Inserir">Inserir</option>
        <option value = "Deletar">Deletar</option>
        <option value = "Alterar">Alterar</option>
    </select>
    <br>
    <label for="n_camisa">Número da camisa</label>
    <input type="number"  name ="n_camisa" id = "n_camisa">
    <br>
    <label for="n_inscricao">Número de inscrição</label>
    <input type="number" name="n_inscricao" id = "n_inscricao">
    <br>
    <label for="posicao">Posição</label>
    <input type="text" name="posicao"  id = "posicao">
    <br>
    <label for="selecao_id">Seleção</label>
    <input type="number" name="selecao_id" id = "selecao_id">
    <br>
    <label for="nome_atleta">Nome do atleta</label>
    <input type="text" name="nome_atleta" id = "nome_atleta">
    <br>
    <label for="idade">Idade do atleta</label>
    <input type="number" name="idade" id = "idade">
    <br>
    <label for="fk_sele_insc">Inscrição da seleção (FK) </label>
    <input type="number" name="fk_selecao_inscricao" id = "fk_sele_insc">
    <br>
    <label for="capitao">Incrição do capitão (FK)</label>
    <input type="number" name="capitao" id = "capitao">

    <button type="submit">Enviar</button>
</form>

<form id="selecao" method="post" action="/selecao" style="display:none;">

    <label for="operacao1">Tipo de operação</label>
    <select name="operacao" id = "operacao1">
        <option value = "Inserir">Inserir</option>
        <option value = "Deletar">Deletar</option>
        <option value = "Alterar">Alterar</option>
    </select>
    <br>
    <label for="inscricao">Numero de inscrição</label>
    <input type="number"  name ="n_inscricao" id = "inscricao">
    <br>
    <label for="pais_origem">País de origem</label>
    <input type="text" name="paisDeOrigem" id = "pais_origem">
    <br>
    <label for="mediaIdade">Média de idade</label>
    <input type="number" name="mediaIdade"  id = "mediaIdade">
    <br>
    <label for="mediaGols">Média de gols</label>
    <input type="number" name="mediaGols" id = "mediaGols">
    <br>
    <label for="rankingFifa">Ranking da Fifa</label>
    <input type="number" name="rankingFifa" id = "rankingFifa">
    <br>
    <label for="fk_gp_id">Letra identificadora do Grupo (FK)</label>
    <input type="text" name="fk_grupo_letra_identificadora" id = "fk_gp_id">
    <br>
    <label for="continente">Continente</label>
    <input type="text" name="continente" id = "continente">
    <br>
    <label for="pontuacao">País de origem</label>
    <input type="number" name="pontuacao" id = "pontuacao">
    <br>
    <label for="nome">Nome da seleção </label>
    <input type="number" name="nome" id = "nome">

    <button type="submit">Enviar</button>
</form>



<script>
    function mostrarForm(formId) {
        document.getElementById("jogadores").style.display = "none";
        document.getElementById("selecao").style.display = "none";

        document.getElementById(formId).style.display = "block";
        // Block mostra o elemento escolhido.
    }
</script>
</body>
</html>

